Sastrawi~=1.0.1
setuptools~=60.2.0
customtkinter~=5.1.2
numpy~=1.24.2
packaging~=23.0
scikit-learn~=1.2.2
rich~=13.3.2
future~=0.18.3
tqdm~=4.65.0
flair~=0.12.1
transformers~=4.25.1
gensim~=4.3.1
torch~=1.13.1
Pillow~=9.4.0
selenium~=4.8.2
python-dotenv~=0.21.1